let mapleader=" "

"Plugins"
Plug 'preservim/nerdtree'
Plug 'tpope/vim-surround'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'easymotion/vim-easymotion'

"Plugin mappings"
let g:NERDTreeMapActivateNode='l'
let g:NERDTreeMapJumpParent='h'
nnoremap <s-w> :NERDTreeToggle<CR>
nnoremap <c-w> :NERDTreeFocus<CR>
"Reload Configuration"
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>


"Common settings"
set scrolloff=5
set easymotion
set incsearch
set number relativenumber
set ideajoin
set idearefactormode=keep
set showmode
set showcmd

map <leader>J <Plug>(easymotion-s)
map <leader>j <Plug>(easymotion-f)

nnoremap <c-d> <c-d>zz
nnoremap <c-u> <c-u>zz

"Common Mappings"
noremap <Leader>y "*y
noremap <Leader>p "*p
noremap <Leader>Y "+y
noremap <Leader>P "+p

"Run Configuration"
nnoremap ,f :action ChooseRunConfiguration<CR>
nnoremap ,r :action ContextRun<CR>

"Distraction Mode"
nnoremap <c-z> :action ToggleDistractionFreeMode<CR>

"Window management"
nnoremap <leader>e :action EditSourceInNewWindow<CR>
nnoremap <leader>n :action NextWindow<CR>

"Navigation"
nnoremap <c-\> :action SplitVertically<CR>
nnoremap <c--> :action SplitHorizontally<CR>
nnoremap <c-=> :action Unsplit<CR>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<CR>

sethandler <c-j> a:vim
sethandler <c-k> a:vim
nnoremap <c-h> <c-w>h
nnoremap <c-l> <c-w>l
nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
noremap <leader>1 1gt
noremap <leader>2 2gt
noremap <leader>3 3gt
noremap <leader>4 4gt
noremap <leader>5 5gt
noremap <leader>6 6gt
noremap <leader>7 7gt
noremap <leader>8 8gt
noremap <leader>9 9gt

nnoremap <TAB> :action PreviousTab<CR>
nnoremap <s-TAB> :action NextTab<CR>

nnoremap <Leader>q :action CloseContent<CR>
nnoremap <Leader>qa :action CloseAllEditors<CR>

"Terminal"
nnoremap <c-t> :action ActivateTerminalToolWindow<CR>
nnoremap <leader>t :action Terminal.OpenInTerminal<CR>


"Source code"
nnoremap [[ :action MethodUp<CR>
nnoremap ]] :action MethodDown<CR>

nnoremap zc :action CollapseRegion<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap <leader>zc :action CollapseAllRegions<CR>
nnoremap <leader>zo :action ExpandAllRegions<CR>

nnoremap <leader>r :action Refactorings.QuickListPopupAction<CR>
nnoremap <leader>=  :action ReformatCode<CR>
nnoremap <leader>o :action OptimizeImports<CR>

nnoremap <c-r> :action RecentFiles<CR>
nnoremap <leader>l :action RecentLocations<CR>
nnoremap <leader>g  :action LocalHistory.ShowHistory<CR>

nnoremap ge :action GotoNextError<CR>
nnoremap gE :action GotoPreviousError<CR>


"Search and Navigation"
nnoremap <c-g> :action FindInPath<CR>
nnoremap <c-a> :action GotoAction<CR>
nnoremap <c-f> :action GotoFile<CR>
nnoremap gr :action FindUsages<CR>

nnoremap <leader>s :action GotoRelated<CR>
nnoremap <leader>h :action CallHierarchy<CR>
nnoremap <leader>b :action ShowNavBar<CR>
nnoremap <leader>z :action TypeHierarchy<CR>
nnoremap <c-s> :action FileStructurePopup<CR>
nnoremap <c-o> :action GotoSymbol<CR>
nnoremap <leader>d :action QuickJavaDoc<CR>
nnoremap gg :action GotoClass<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gd :action GotoDeclaration<CR>
nnoremap gp :action GotoSuperMethod<CR>
nnoremap gt :action GotoTest<CR>
nnoremap gb :action Back<CR>
nnoremap gf :action Forward<CR>

"Tool Windows"
nnoremap <s-x> :action HideAllWindows<CR>

"Action"
nmap <leader>m <action>(Git.Menu)
nnoremap <leader>vb  :action Git.Branches<CR>
nnoremap <leader>va :action Annotate<CR>
nnoremap <leader>vp :action Vcs.Push<CR>
nnoremap <leader>vl :action Git.Pull<CR>
nnoremap <leader>vf :action Git.Fetch<CR>
nnoremap <leader>vs :action Git.Stash<CR>
nnoremap <leader>vv :action Github.View.Pull.Request<CR>
nnoremap <leader>vq :action Vcs.QuickListPopupAction<CR>
nnoremap <leader>vh :action Vcs.ShowTabbedFileHistory<CR>
vnoremap <leader>b :action Vcs.ShowHistoryForBlock<CR>
nnoremap <leader>c :action EditorCloneCaretBelow<CR>
"Bookmark"
nnoremap mA :action ToggleBookmark0<CR>
nnoremap mB :action ToggleBookmark1<CR>
nnoremap mC :action ToggleBookmark2<CR>
nnoremap mD :action ToggleBookmark3<CR>
nnoremap mE :action ToggleBookmark4<CR>

nnoremap `A :action GotoBookmark0<CR>
nnoremap `B :action GotoBookmark1<CR>
nnoremap `C :action GotoBookmark2<CR>
nnoremap `D :action GotoBookmark3<CR>
nnoremap `E :action GotoBookmark4<CR>

"Multi cursor"
map mc <A-n>
map mx <A-x>
map mp <A-p>
